<!DOCTYPE html>
<html lang="en">
<head>
  <title>Club Standings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% include 'nav.html' %}
<body>
  <div class="container" style=max-width:700px;>
  <h1>{{club}} {{weapon}} {{rating}} Standings</h1>
</div>

      <div class="container" style=max-width:700px;>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/full_list?club={{club}}&weapon={{weapon}}&group=Overall">{{club}} {{weapon}}</a></li>
              <li><a href="/full_list?club={{club}}&weapon={{weapon}}&group=A B">A+B</a></li>
              <li><a href="/full_list?club={{club}}&weapon={{weapon}}&group=C D">B+C</a></li>
              <li><a href="/full_list?club={{club}}&weapon={{weapon}}&group=E U">E+U</a></li>
              <li><a href="/full_list?club={{club}}&weapon={{weapon}}&group=Y10">Y10</a></li>
              <li><a href="/full_list?club={{club}}&weapon={{weapon}}&group=Y12">Y12</a></li>
              <li><a href="/full_list?club={{club}}&weapon={{weapon}}&group=Cadet">Cadet</a></li>
              <li><a href="/full_list?club={{club}}&weapon={{weapon}}&group=Junior">Junior</a></li>
            </ul>
          </div>
        </nav>
        <i><h3>Points for {{club}} {{weapon}} fencers: {{points}}</h3></i>

          <table class="table table-striped table table-hover">
          <tr>
          <th>Name</th>
          <th>Total Events</th>
          <th>Base Points</th>
          <th>Round Points</th>
          <th>Total Points</th>
          </tr>
        {% for game in preds %}
          <tr>
          <td><b><a href = "/fencer?fencer={{game['_id']}}">{{game['_id']}}</a></b></td>
          <td>{{game['events']}}</td>

          <td>{{game['base']}}</td>

          <td>{{game['bonus']}}</td>

          <td>{{game['total']}}</td>
        </tr>
      {% endfor %}
      </table>
    </div>


</body>
</html>
