<!DOCTYPE html>
<html lang="en">
<head>
  <title>Club Standings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% include 'nav.html' %}
{{header}}
<body>
  <div class="container" style=max-width:700px;>
  <h1>{{club}} {{month}} Winners</h1>
</div>

<div class="container" style=max-width:700px;>

    {% for weapon in batch1 %}
        <div class="col-sm-{{col_width}}">
        <table class="table table-striped">
        <th>{{weapon[0][1]}}</th>
        {% for sub in weapon %}
        <tr>
        <td><i>{{sub[0]}}</i> : <a href="/fencer?fencer={{sub[2]['_id']}}">{{sub[2]['_id']}}</a></td>
      </tr>
      {% endfor %}
    </table>


    </div>
    {% endfor %}
    <a href="month?club={{club}}&month={{month}}&year=2017">See full {{month}} leaderboard.</a>
    </div>


    <div class="container" style=max-width:700px;>
    <h1>{{club}} Season Leaders</h1>
    </div>

    {% for division in batch2 %}
    <div class="container" style=max-width:700px;>

        {% for weapon in division %}
            <div class="col-sm-{{col_width}}">

              <h2>{{weapon[0][1]}}</h2>
            {% for sub in weapon %}
            <table class="table table-striped">

            <th><a href="/full_list?club={{club}}&weapon={{sub[1]}}&group={{sub[0]}}">{{sub[1]}} {{sub[0]}}</a></th>
            <th>Points</th>



            {% for fencer in sub[2] %}

            <tr>
              {% if fencer == false %}


              <td>No Competitor</td>
              <td>0</td>
              {% endif %}
              <td><a href="/fencer?fencer={{fencer['_id']}}">{{fencer['_id']}}</a></td>
              <td>{{fencer['total']}}</td>
            </tr>
            {% endfor %}

          </table>
          {% endfor %}


        </div>
        {% endfor %}
        </div>
{% endfor %}


</body>
</html>
