<!DOCTYPE html>
<html lang="en">
<head>
  <title>Club Standings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% include 'nav.html' %}
<body>

    <div class="container" style=max-width:700px;>
    <h1>{{club}} {{month}} Standings</h1>
    <h2><i>Club points for the month: {{points}}</i></h2>
    </div>


    <div class="container" style=max-width:700px;>
      {% for weapon in batch %}
            <div class="col-sm-{{col_width}}">
              <h3>{{weapon[0][1]}}</h3>


            {% for sub in weapon %}

            <table class="table table-striped">

            <th><a href="/full_list?club={{club}}&weapon={{sub[1]}}&group={{sub[0]}}">{{sub[0]}}</a></th>
            <th class="col-sm-2">Events</th>
            <th class="col-sm-2">Points</th>



            {% for fencer in sub[2] %}

            <tr>
              {% if fencer['_id'] == 'No Competitor' %}
              <td>No Competitor</td>

              {% else %}


              <td><a href="/fencer?fencer={{fencer['_id']}}">{{fencer['_id']}}</a></td>
              {% endif %}
              <td>{{fencer['events']}}</td>
              <td>{{fencer['total']}}</td>
            </tr>
            {% endfor %}

          </table>
          {% endfor %}


        </div>
        {% endfor %}
        </div>




</body>
</html>
