<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Slick Ladder</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/{{club}}">{{club}} Home</a></li>
      <li><a href="/full_list?club={{club}}&weapon=Foil&group=Overall">Foil</a></li>
      <li><a href="/full_list?club={{club}}&weapon=Epee&group=Overall">Epee</a></li>
      <li><a href="/full_list?club={{club}}&weapon=Saber&group=Overall">Saber</a></li>
      <li><a href="/full_list?club={{club}}&weapon=Saber&group=Overall">Monthly</a></li>
    </ul>
  </div>
</nav>
